language: node_js

node_js:
  - '10'

cache:
  directories:
    - node_modules

install:
  - npm install

before_script:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - npm run lint
  - npm test
  - npm run build
